body {
    margin: 0;
    padding: 0;
    background-color: red;
    font-family: 'Impact';
    text-align: center;
}

.nav {
    background-color: #FFFFFF;
    list-style: none;
    text-align: right;
    padding: 20px 0px 20px 0px;
    margin: 0;
}

.nav > li {
    display: inline-block;
    padding-right: 50px;
    font-size: 30px;
}

.nav > li > a {
    text-decoration: none;
    color: #111111;
    transition-duration: 0.4s;
}

.nav > li > a:hover {
    color: #c1c1c1;
}

.logo {
    float: left;
    padding-left: 20px;
    padding-top: 3px;
    width: 100px;
    height: 70px;
}

.bannerImage {
    width: 100%;
    height: 500px;
    display: block;
}

#header {
    color: black;
    font-size: 4em;
}

.menuImage {
    width: 25%;
    height: 25%;
}

#modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}